<div class='course'>
  <h3 class='course-title'>{{title}}</h3>
  <ul class='pages-list'>
    {{#each pages}}
      <li>{{title}}</li>
      <button class='del-btn' key={{../_id}}>Delete page</button>
    {{/each}}
  </ul>
  <button class='add-btn'>Add page</button>
</div>